.navbar.navbar-default
  .container
    #navbar-main
      ul.nav.navbar-nav
        li
          a(href='/' id='home_link') Home
      ul.nav.navbar-nav.navbar-right
        li(ng-hide='vm.isLoggedIn')
          a(href='login') Sign in
        li(ng-if='vm.isLoggedIn && vm.isAdmin')
          a(href='admin') Admin
        li(ng-if='vm.isLoggedIn')
          a(href='profile' id='profile_link') {{ vm.currentUser.username }}'s profile
        li(ng-if='vm.isLoggedIn')
          a(href='logout' id='logout_link') Log out
