// navigation directive inserted here
navigation

.container(ng-show='!vm.isLoggedIn')
  h1 Hello there
  p
    | Won't you please 
    a(href='login' id='login_link') sign in
    |  or 
    a(href='register' id='register_link') register
    | ?

.container(ng-show='vm.isLoggedIn && !vm.isAdmin')
  h1 User dashboard


.container(ng-show='vm.isLoggedIn && vm.isAdmin')
  h1 Admin dashboard
