doctype html
html(ng-app='frontend')
  head
    title MEAN RSS
    base(href='/')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='stylesheets/styles.css')
  // ng-view: placeholder for views, views given with templateURL
  // given in router will be rendered here
  body(ng-view='')
    script(src='lib/angular.min.js')
    script(src='lib/angular-route.min.js')
    script(src='lib/api-check.min.js')
    script(src='lib/formly.min.js')
    script(src='lib/angular-formly-templates-bootstrap.min.js')
    script(src='lib/jquery-1.12.4.min.js')
    script(src='lib/bootstrap.min.js')
    script(src='app.min.js')
