.sidebar
  .sidebar-wrapper
    .logo
      a.simple-text(href='/') RSS Reader
    ul.nav(ng-if='vm.isLoggedIn')
      li.active
        a(href='#') Today
      li
        a(href='#') Unread
      li
        p
          b
            | Folders
