.alert.alert-danger(id='alert_div', role='alert',
  ng-if='vm.errorMessage') {{vm.errorMessage}}
.alert.alert-success(id='alert_div', role='alert',
  ng-if='vm.successMessage') {{vm.successMessage}}
button.btn.btn-success(id='user_create_button' ng-click='vm.newUser()') Create new user

table.table
  thead
    tr
      th Id
      th Username
      th Created at
      th Updated at
      th Admin?
      th Edit
  tbody
    tr(ng-repeat="user in vm.users | orderBy: '-updatedAt'")
      td {{ user._id }}
      td {{ user.username }}
      td {{ user.createdAt | date: "dd.MM.yyyy ', 'HH:mm" }}
      td {{ user.updatedAt | date: "dd.MM.yyyy ', 'HH:mm" }}
      td
        span.glyphicon.glyphicon-check(ng-if='user.isAdmin' aria-hidden='true')
        span.glyphicon.glyphicon-unchecked(ng-if='!user.isAdmin' aria-hidden='true')
      td
        a(href='#' ng-click='vm.editUser(user._id)' ng-attr-id="{{ 'edit_' + user._id }}")
          span.glyphicon.glyphicon-edit(aria-hidden='true')
