navigation
.container
  .row
    .col-md-6
      h1.form-signin-heading Sign in
      p.lead
        | Not a member? Please 
        a(href='register') register
        |  instead.
      .alert.alert-danger(role='alert', ng-show='vm.message') {{vm.message}}
      form(ng-submit='vm.onSubmit()')
        formly-form(model='vm.credentials',
          fields='vm.credentialsFields' form='vm.credentialsForm')
          button.btn.btn-default(type='submit' id='login_button') Sign in!
