.navbar.navbar-default
  .container
    #navbar-main
      ul.nav.navbar-nav
        li
          a(href='/') Home
      ul.nav.navbar-nav.navbar-right
        li(ng-hide='navvm.isLoggedIn')
          a(href='login') Sign in
        li(ng-show='navvm.isLoggedIn')
          a(href='profile') {{ navvm.currentUser.name }}
